header{
    color: white;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.content {
    display: flex;
    height: calc(100vh - 60px); /* Assuming header height is about 60px, adjust as needed */
}

nav {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;
}
